name: Daily README Update

on:
  schedule:
    - cron: '30 2 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Debug token presence
        run: |
          if [ -z "${{ secrets.GITHUB_TOKEN }}" ]; then
            echo "❌ GITHUB_TOKEN is EMPTY"
            exit 1
          else
            echo "✅ GITHUB_TOKEN is present"
          fi

      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Update README
        run: python3 main.py

      - name: Commit & Push changes
        run: |
          git config user.name "aditya0yadav"
          git config user.email "adiworkprofile@gmail.com"
          git add README.md
          git commit -m "Daily date update" || echo "No changes to commit"
          git push
